body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/light-grey-terrazzo.png");
    background-repeat: repeat;

    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: #4aaaa5;
}

nav {
    align-content: center;
    width: 960px;
    margin: auto; 
    padding-bottom: 32px;
    padding-top: 50px;
    background-color: #ffffff;
    border-bottom: 1.5px solid rgb(201, 201, 201);
    padding-left: 240px;
    padding-right: 240px;
    height: 25px;
    position: relative;

}

#name {
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: rgb(248, 247, 248);
    background-color: rgb(0, 174, 167);
    width: fit-content;
    text-align: center;
    margin: auto;
    float: left;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 33px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    position: absolute;
    top: 0px;
    left: 215px;
    
}

#navLinks {
    float: right;
    text-align: center;

}

#aboutLink {
    border-right: 1px solid teal;
    padding-right: 7px;
    text-decoration: none;
}

#contactLink {
    border-right: 1px solid teal;
    padding-right: 7px;
    text-decoration: none;
}

#portfolioLink {
    text-decoration: none;
}

#profileImg {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 15px;
}

#bio {
    width:960px;
    align-content: center;
    margin: auto;
    margin-top: 60px;
    background-color: #ffffff;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 2px;
    padding: 20px;
    overflow: auto;
    text-align: justify;
}

h1 {
    font-size: 36px;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(201, 201, 201);
    margin-bottom: 30px;
}

p {
    line-height: 1.5;
    margin-top: 50px;
}

footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: rgb(102, 102, 102);
    color: rgb(248, 247, 248);
    height: 50px;
    margin: auto;
    width: 960px;
    align-content: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    border-top: 10px solid rgb(0, 153, 147);
}

#contactBox {
    width: 960px;
    background-color: #ffffff;
    align-content: center;
    margin: auto;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 2px;
    margin-top: 60px;
    padding: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
}

#nameInput {
    height: 20px;
    width: 950px;
}

#emailInput {
    height: 20px;
    width: 950px;
}

#msgInput {
    height: 75px;
    width: 950px;
    margin-bottom: 8px;
}

#submitBtn {
    height: 50px;
    width: 100px;
    background-color: rgb(0, 153, 147);
    color: rgb(248, 247, 248);
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-size: 20px;
    margin-top: 10px;
}

#portfolioBox {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid rgb(201, 201, 201);
    margin-top: 60px;
    padding: 20px;
    overflow: auto;
    margin-bottom: 100px;
}

.imgBox {
    border: 1px solid rgb(201, 201, 201);
    width: 180px;
    /* float: left; */
    margin-bottom: 10px;
    
}

.imgBox img {
    width: 100%;
    height: auto;
}

.imgTitle {
    text-align: center;
    /* margin: 8px; */
    background-color: rgb(0, 153, 147);
    color: rgb(248, 247, 248);
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width:980px) {
    body {
        width: 980px;
        margin: auto;
        float: left;
    }

    nav {
        width: 100%;
        margin: auto;
        
    }

    #name {
        top: 0px;
        left: 0px;
    }

    #bio {
        width: 80%;
        margin: auto;
        margin-top: 40px;
    }
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:640px) {

}